/* LOGIN PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.loginContainer {
  background-image: linear-gradient(135deg, #331d4e, #0f2c6d);
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.loginCard {
  background: #020617;
  color: white;
  padding: 40px;
  width: 380px;
  border-radius: 10px;
  border: 1px solid #1e293b;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.loginCard h2 {
  text-align: center;
  margin-bottom: 25px;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #cbd5f5;
}

.inputGroup input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
  outline: none;
}

.inputGroup input:focus {
  border-color: #38bdf8;
}
.loginOptions {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}

.loginOptions a {
  color: #38bdf8;
  text-decoration: none;
}

.loginBtn {
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.25s;
}
.loginForm .loginBtn:disabled {
  background: #b5b5b5;
  cursor: not-allowed;
}
.loginBtn:hover {
  background: #1d4ed8;
}

.registerText {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

.registerText a {
  color: #38bdf8;
  text-decoration: none;
}

.loginOptions input[type="checkbox"] {
  margin-right: 6px;
  cursor: pointer;
}

.inputError {
  font-size: 13px;
  margin-top: 3px;
  color: #aa0a0a;
}
.loginEptions input[type="checkbox"] {
  margin-right: 6px;
  cursor: pointer;
}
